* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BAF8FF;
    background-image: url("../images/background.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

header {
    padding: 30px;
    background-color: #CAE9FF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 45px;
    font-family: Brush Script MT;
    font-weight: bold;
}

header nav {
    margin: 5px 0;
    padding: 12px;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #9AC7E8;
}

header nav ul {
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 30px;
    color: #ffffff;
}

header nav ul li a:hover {
    color: #000000;
    padding: 12px;
    margin: 12px;
    background-color: cornflowerblue;
}

.hero {
    padding:100px;
    margin:100px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: right;
}

.content {
    padding:100px;
    margin:100px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sectiontitle {
    font-size: 35px;
    font-family: Georgia;
    text-align: center;
}

/* about me section */
.info {
    font-size: 15px;
    padding: 50px;
    background-color: #9AC7E8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.info p {
    float: right;
    background-color: #ffffff;
    display: inline-block;
}

.info img {
    height:200px;
    width: 175px;
    display: inline-block;
}

.about-info-wrap {
    padding:25px;
    margin:25px;
}

/* my work section */
.work-ex {
    padding: 25px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #9AC7E8;
    margin: 0 auto 0 auto;
}

.work-ex img {
    width: 15%;
}

.work-ex img:hover{
    opacity: 0.5;
    width:50%;
}

/* contact me section */
.contact-info {
    background-color: #9AC7E8;
}
.flex {
    display: flex;
}

footer {
    text-align: center;
}

/* all media queries here */