* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BAF8FF;
    background-image: url("../images/background.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

header {
    padding: 15px;
    background-color: #CAE9FF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

header nav {
    padding: 12px;
    margin: 12px;
    align-items: center;
    list-style: none;
  /**  background-color: #9AC7E8; **/
    display: inline-block;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    margin: 30px;
    color: #ffffff;
    padding: 25px;
    font-size: 25px;
}

header nav ul li a:hover {
    color: #000000;
    background-color: cornflowerblue;
}

.hero {
    padding:100px;
    margin:100px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: right;
}

.content {
    padding:100px;
    margin:100px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sectiontitle {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 25px;
}

/* about me section */

.about-content {
    background-color: #9AC7E8;
    margin-bottom: 5px;
}

.about-content p { 
    background-color: white;
    padding: 15px;
    width: 25%;
}

.about-content img {
    height:250px;
    width: 215px;

}

.about-box {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

/* my work section */
.work-ex div {
    background:#91D1FF;
    padding: 5px;
}
.work-ex {
}

.work-ex img {
    width: 100%;
    padding: 15px;
    border: solid 5px violet;
}

.work-ex img:hover{
    opacity: 0.5;
    width:75%;
}

.display-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* contact me section */
.contact-info {
    background-color: #9AC7E8;
}

footer {
    text-align: center;
    background-color: #83A9C4;
    padding: 25px;
}

/* all media queries here */
@media screen and (max-width: 575px;){
    
}